@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --primary-font: Source Sans Pro, sans-serif;
    --secondary-font: Merriweather, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body{
    background: url('../assets/about-background.png'),
    radial-gradient(circle, rgb(98, 12, 115) 5%, rgba(13, 12, 12, 1) 60%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: fit-content;
    padding: 2rem 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.3s ease 0s;
    z-index: 10000;
}

.navbar .logo{
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    margin-right: auto;
    transition: 0.3s ease 0s;
}

.navbar .logo:hover{
    cursor: default;
}

.navbar nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar nav .nav-item{
    position: relative;
    margin: 0 1rem;
    color: rgb(213, 159, 224);
    font-family: var(--secondary-font);
    font-weight: 500;
    transition: 0.3s ease 0s;
}

.navbar nav .nav-item:hover, .navbar .nav-item.active{
    color: white;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    margin: 1rem 2.5rem 0 2.5rem;
    padding: 2rem;
}

.content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
    height: 100vh;
    color: white;
    font-size: 10rem;
    gap: 2rem;
    margin-top: 60px;
    padding-top: 60px;
}

.glass{
    display: flex;
    background: rgba(189, 181, 181, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.prime{
    background: linear-gradient(to bottom,rgb(123, 8, 138), rgb(64, 11, 71));
}

.title{
    font-size: clamp(1.5rem,10vw,2.5rem);
}

.subtitle{
    font-size: clamp(1.3rem,8vw,2.3rem);
}

@media (prefers-reduced-motion: no-preference){
    .autoshow{
        animation: autoShowAnimation both;
        animation-timeline: view(70% 5%);
    }
    
    @keyframes autoShowAnimation{
        from{
            opacity: 0;
            transform: translateX(5em) scale(0.3);
        }
        to{
            opacity: 1;
            transform: translateX(0) scale(1);
        }
    }
    
}

/* Home */
#home.content{
    display: grid;
    grid-template-columns: 4fr 6fr;
    margin-top: 0;
    padding-top: 0;
}

.my-profile{
    padding: 1rem;
    width: 100%;
    height: auto;
    margin-left: auto;
    max-height: 620px;
    max-width: 480px;
}

.my-profile img{
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 25px;
    height: auto;
    width: 100%;
}

.profile-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    max-height: 620px;
    height: 100%;
    width: 100%;
}

.greeting{
    font-size: clamp(2.5rem,4vw,5rem);
}

.p-desc{
    display: flex;
    font-size: clamp(1.1rem,2vw,1.3rem);
    font-family: var(--secondary-font);
    margin: 0.4rem 0;
    gap: 1rem;
}

.p-desc .loc{
    font-size: inherit;
    font-family: inherit;
}

.p-desc .loc:not(.new-loc){
    text-decoration: line-through;
}

.pill-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: var(--secondary-font);
    height: fit-content;
    width: fit-content;
    gap: 10px;
}

.pill{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    height: fit-content;
    min-width: fit-content;
}

.pill svg{
    font-size: 1rem;
    width: 32px;
    height: 32px;
}

.link-list{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.btn-profile{
    color: white;
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
    padding: 0.8rem;
}

.btn-profile:hover{
    color: rgb(98, 12, 115)
}

/* About */
#about.content{
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
}

.work-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}

.title{
    gap: 1rem;
}

.work-list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.work-card{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 360px;
}

.work-card-header{
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 3;
    padding: 1rem;
    gap: 0.5rem;
}

.card-title{
    font-size: clamp(1.2rem,6vw,1.6rem);
}

.work-card-header .card-title{
    grid-row: 1;
    grid-column: 1;
}

#about h3{
    font-size: clamp(1rem,5vw,1.2rem);
}

.company{
    grid-row: 2;
    grid-column: 1;
    color: #7a7a8c;
}

#about.time-frame{
    grid-column: 1;
    grid-row: 3;
}

#about .time-dur{
    grid-column: 2;
    grid-row: 1/span 3;
    font-size: clamp(1.3rem,5vw,2rem);
    place-self: center;
}

.work-card-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem
}

.task{
    font-size: clamp(1rem,4vw,1.3rem);
}

.cert-list{
    grid-column: 2;
    display: flexbox;
    padding: 1.5rem;
    place-items: center;
}
.cert-card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-content: center;
    padding: 1rem;
}

.cert{
    font-size: clamp(1rem,4vw,1.3rem);
    text-align: center;
}

/* Projects */
#project.content{
    align-items: flex-start;
    justify-content: flex-start;
}

.project-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
}

.project-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}


.list::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

.list::-webkit-scrollbar-thumb{
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.list::-webkit-scrollbar-track{
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.proj-card{
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    gap: 1rem;
    max-width: 450px;
    min-width: 350px;
    min-height: 280px;
}

.proj-card-header .time-frame{
    font-size: clamp(1rem,5vw,1.2rem)
}

/* Contact */
.contact{
    isolation: isolate;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7.5rem;
    gap: 3rem;
    border-top: 1px solid #283044;
    border-bottom: 1px solid #283044;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 5rem;
}

.footer-note{
    color: white;
}

@media (max-width:50em){
    .navbar{
        padding: 2rem;
    }

    .navbar nav{
        display: none;
    }

    body, .content-wrapper{
        min-width: 480px;
        margin: 0;
    }
    .content{
        min-height: 100vh;
        margin: 1rem;
        padding: 5rem 1.5rem 1.5rem;
        width: 100%;
        gap: 2rem;
        flex: 1 1;
    }

    /* Home */
    #home.content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .my-profile{
        margin-left: 0;
    }
    
    .my-profile img{
        aspect-ratio: 5/4;
        object-position: top;
    }

    .profile-info{
        display: flex;
        flex-shrink: 1;
    }

    /* About */
    #about.content{
        padding-left: 0;
    }
    .work-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .work-card{
        text-align: start;
    }

    /* Project */
    #project.content{
        padding-left: 0;
    }

    .project-info{
        padding: 0;
    }

    .project-list{
        display: flex;
        flex-direction: column;
    }

}